{% if recipes.has_other_pages %}
<div class="content-pagination">
    {% if pagination_range.first_page_out_of_range %}
    <a class="page-item page-link" href="?page=1{{additional_url_query}}">1</a>
    <span class="page-item">...</span>
    {% endif %}

    {% for page in pagination_range.pagination %}
    {% if page == pagination_range.current_page %}
    <a class="page-item page-link current-page" href="?page={{page}}{{additional_url_query}}">{{page}}</a>
    {% else %}
    <a class="page-item page-link" href="?page={{page}}{{additional_url_query}}">{{page}}</a>
    {% endif %}
    {% endfor %}

    {% if pagination_range.last_page_out_of_range %}
    <span class="page-item">...</span>
    <a class="page-item page-link"
        href="?page={{pagination_range.total_pages}}{{additional_url_query}}">{{pagination_range.total_pages}}</a>
    {% endif %}
</div>
{% endif %}