<div class="card">
    <img class="card-image" src="https://picsum.photos/600" alt="Random image" />
    <h3 class="card-title">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam,
        repellat.
    </h3>

    <div class="info">
        <div class="recipe-author">
            <span class="recipe-author-item">
                <i class="fas fa-user"></i>
                Hícaro Vitor
            </span>
            <span class="recipe-author-item">
                <i class="fas fa-calendar-alt"></i>
                17/02/2023 às 11:21
            </span>
            <span class="recipe-author-item">
                <a href="/recipes/category/cafe-da-manha/">
                    <i class="fas fa-layer-group"></i>
                    <span>Café da manhã</span>
                </a>
            </span>
        </div>
    </div>

    <div class="recipe-content">
        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magni
            fugiat commodi ullam quas modi. Ea cumque labore veniam, sequi
            corrupti quas beatae fuga alias quae, vero dicta accusamus aliquam
            in!
        </p>
    </div>

    <button class="card-footer">
        <span>
            <i class="fa-regular fa-eye"></i>
            Ver mais...
        </span>
    </button>
</div>