<div class="card">
    <a href="{% url 'recipes:recipe' recipe.id %}">
        <img class="card-image" src="{{recipe.cover.url}}" alt="Random image" />
    </a>

    <h3 class="card-title">{{recipe.title}}</h3>

    <div class="info">
        <div class="recipe-author">
            <span class="recipe-author-item">
                <i class="fas fa-user"></i>
                {{recipe.author.first_name}} {{recipe.author.last_name}}
            </span>
            <span class="recipe-author-item">
                <i class="fas fa-calendar-alt"></i>
                {{recipe.created_at|date:"d/m/Y à\s H:i"}}
            </span>
            <span class="recipe-author-item">
                <a href="/recipes/category/cafe-da-manha/">
                    <i class="fas fa-layer-group"></i>
                    <span>{{recipe.category.name}}</span>
                </a>
            </span>
        </div>
    </div>

    <div class="recipe-content">
        <p>{{recipe.description}}</p>
    </div>
    {% if detail_page is not True %}
    <a class="card-footer" href="{% url 'recipes:recipe' recipe.id %}">
        <div class="card-button">
            <i class="fa-regular fa-eye"></i>
            Ver mais...
        </div>
    </a>
    {% else %}
    <p class="preparation-steps">{{recipe.preparation_steps|linebreaksbr}}</p>
    <div class="go-back"><a href="{% url 'recipes:home' %}">Voltar</a></div>
    {% endif %}
</div>